@{
    ViewBag.Title = "AM Charts Page";
}
<div id="indexPage" style="width: 100%; display: inline-block;">
    <div style="float: left; width: 50%; display: inline-block;">
        <div>
            <h2>
                Line Charts Sample</h2>
            <p>
                <a href="/AMCharts/Line" class="button">Line Charts</a>
            </p>
        </div>
        <div>
            <h2>
                Area Charts Sample</h2>
            <p>
                <a href="/AMCharts/Area" class="button">Area Charts</a>
            </p>
        </div>
        <div>
            <h2>
                Bar Charts Sample</h2>
            <p>
                <a href="/AMCharts/Bar" class="button">Bar Charts</a>
            </p>
        </div>
        <div>
            <h2>
                Column Charts Sample</h2>
            <p>
                <a href="/AMCharts/Column" id="" class="button">Column Charts</a>
            </p>
        </div>
    </div>
    <div style="float: right; width: 50%; display: inline-block;">
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
    </div>
</div>
